<header>


    <div class="divLogo">
        <img src="/assets/img/img.png" alt="">
        <h3>Waifu Sanctuary</h3>
    </div>


    <nav class="navmenu">

        <ul>
            <li class="LINK1"><a id="" href="#">Home</a></li>
            <li class="LINK2"><a id="" href="#">Waifus</a></li>
            <li class="LINK3"><a id="" href="#">Wiki</a></li>
            <li class="LINK4"><a id="" href="#">Hentai</a></li>
            <li class="LINK5"><a id="" href="#">Sin Censura</a></li>
            <li class="LINK6"><a id="" href="#"></a></li>
        </ul>

    </nav>

    <div class="account">

        <button class="btnLogin">Acceder</button>

    </div>



</header>